@font-face {
    font-family: 'Avant Garde Book';
    src: url('../fonts/AvantGarde-Book.eot');
    src: url('../fonts/AvantGarde-Book?#iefix') format('embedded-opentype'), url('../fonts/AvantGarde-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avant Garde Bold';
    src: url('../fonts/AvantGardeLT-Bold.eot');
    src: url('../fonts/AvantGardeLT-Bold?#iefix') format('embedded-opentype'), url('../fonts/AvantGardeLT-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


