body {
    &.no-scroll {
        overflow: hidden;
        touch-action: none;
        // -webkit-overflow-scrolling: none;
        // overscroll-behavior: contain;
    }
}

main {
    background-color: $c-white;
    width: calc(100% - 350px);
}


