footer {
    height: 86px;
    margin-top: 60px;
    overflow: hidden;
    border-top: 6px solid $c-primary;
    background-color: $c-black;

    .col-lg-6 {
        padding: 0 60px;
    }

    a {
        font-size: 1rem;
        font-family: $f-bold;
        line-height: 1.5rem;
        color: $c-white;
        text-transform: uppercase;
    }

    ul {
        li {
            a {
                font-size: 1rem;
                font-family: $f-regular;
                line-height: 1.5rem;
                color: $c-white; 
                text-transform: none;
            }
        }
    }

}