.content-text {
    padding-top: 48px;
    h1 {
        margin-bottom: 40px;
    }
    h3 {
        margin-bottom: 40px;
    }
}

 .quicklink-entry {
    padding: 0;
    height: 80px;
    margin-top: 16px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: $transition-01-linear;
    a {
        position: relative;
        display: block;
        padding-left: 26px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            position: relative;
            font-size: 1.313rem;
            line-height: 1.313rem;
            font-family: $f-bold;
            text-transform: uppercase;
            padding-left: 0;
            transition:  $transition-01-linear;

            &:before {
                position: relative;
                float: left;
                left: 0;
                top: 1px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 0px;
                content: '';
                background-image: url(../img/arrow-red.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 100%;
                height: 17px;
                width: 18px;
                transition:  $transition-01-linear;
            }
        }
        &:hover {
            box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
            transition: $transition-01-linear;
            span {
                color: $c-primary;
            }
        }
    }
 }


 .lesson-intro {
    h3 {
        font-size: 1.313rem;
        line-height: 1.625rem;
        text-transform: uppercase;
        font-family: $f-bold;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #CDD4D8;
    }
    h2 {
        font-size: 2rem;
        line-height: 2.188rem;
        text-transform: uppercase;
        font-family: $f-bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.313rem;
        line-height: 1.688rem; 
        max-width: 560px; 

        margin-bottom: 30px;
    }
    &.qa-intro {
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
 }

 .lesson-entry {
    display: flex;
    margin-bottom: 16px;
    .image {
        aspect-ratio: 1.33/1;
        img {
           @include img-objectfit;
        }
    }
    .text {
        padding-left: 30px;
        max-width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
            font-size: 1.313rem;
            line-height: 1.313rem;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p {
           font-size: 1rem;
           line-height: 1.313rem; 
        }
        .lesson-duration {
            font-size: 0.875rem;
            line-height: 1.313rem;

            display: block;
        }
    }
 }

 .cta-container {
    padding: 30px 0 60px;
    .duration {
        font-family: $f-bold;
        display: inline-block;
        margin-bottom: 24px;
    }
 }


 .test-entries {
    margin-top: 60px;
}



 .test-entry {
    margin-bottom: 65px;
    h3 {
        font-size: 2rem;
        line-height: 2.188rem;
        text-transform: uppercase;
        font-family: $f-bold;
        margin-bottom: 20px;
        padding-bottom: 24px;
        border-bottom: 1px solid #CDD4D8;

    }
    p {
        font-size: 1.313rem;
        line-height: 1.688rem;
        max-width: 560px;
        margin-bottom: 40px;
    }
 }

 .cert-download {
    span {
        font-size: 1.313rem;
        line-height: 1.688rem;
        text-transform: uppercase;
        margin-bottom: 24px;
        display: block;
    }
    .cta {
        width: 288px;
        max-width: 288px;
    }
 }