    .cta-arrow {
        position: relative;
        padding-left: 18px;
        &:before {
            position: absolute;
            left: 0;
            top: 3px;
            font-size: .88rem;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 20px;
            content: "\e901";
            font-family: 'icomoon' !important;
            height: 12px;
            width: 7px;
            transition:  $transition-01-linear;
        }
        &:hover {
            color: $c-primary;
            transition:  $transition-01-linear;

            &:before {
                left: 2px;
                transition:  $transition-01-linear;
            }
        }
        &.bold {
            font-family: $f-bold;

        }
        &.back {
            text-transform: uppercase;
            font-size: 1rem;
            &:before {
                transform: rotate(180deg);
            }
            &:hover {
                &:before {
                    //left: -2px;

                }
            }
        }
        
    }

    
    .btn-close {
        position: relative;
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid #D0D7DA;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            position: relative;
            left: 0;
            top: 0;
            display: inline-block;
            content: "\e902";
            font-family: 'icomoon' !important;
            height: 16px;
            width: 16px; 
            font-size: 1.1rem;
            color: $c-primary;
        }
    }



.cta {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $f-bold;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-primary;
    border: 1px solid $c-primary;
    height: 48px;
    max-width: 186px;
    cursor: pointer;
    .icon-arrow {
        margin-right: 5px;
    }
    &.with-arrow {
        max-width: 233px;
    }
    &:hover {
        background-color: $c-white;
        color: $c-primary;
    }
    .bold {
        font-family: $f-bold;
    }

}


  
    /* buttons */
    
    .button {
        position: relative;
        padding: $spacing-15 $spacing-20;
        background-color: $c-white;
        display: inline-block;
        margin-bottom: $spacing-25;
        margin-right: $spacing-25;
        outline: 0;
        box-shadow: none;
        border: none;
        cursor: pointer;
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0);
        transition: 0.25s ease;
        transition-property: box-shadow, border-radius;
        &:before {
            position: absolute;
            content: '';
            background-image: url(../img/button-verbindung-bright.svg);
            background-image: url(../img/button-verbindung-white.svg);
            right: -9px;
            bottom: -9px;
            width: 18px;
            height: 18px;
            display: inline-block;
        }
        &:after {
            position: absolute;
            content: '';
            right: -25px;
            bottom: -25px;
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: $c-white;
            transition: 0.25s ease;
            transition-property: box-shadow, border-radius;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            min-width: 195px;
        }
        .button-label {
            position: relative;
            font-size: 1rem;
            line-height: 1.5rem;
            display: inline-block;
            font-family: $f-medium;
        }
        .icon {
            transition: $transition-02;
        }
        &:hover {
            background-color: $c-primary;
            border-radius: 10px 10px 0 10px;
            transition-property: box-shadow, border-radius;
            box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.08);
            transition: 0.25s ease;
            transition-property: box-shadow, border-radius;
            &:before {
                background-image: url(../img/button-verbindung-bright.svg);
            }
            &:after {
                background-color: $c-primary;
                border-radius: 10px 10px 10px 10px;
                transition: 0.25s ease;
                transition-property: box-shadow, border-radius;
                box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.08);
            }
            .icon {
                transform: translateX(3px);
                transition: $transition-02;
                &.icon-arrow-bottom-black {
                    transform: translateY(3px);
                }
            }
        }
        &.button-extended {
            .button-container {
                //min-width: 428px;
                flex-wrap: wrap;
                align-content: space-between;
                height: 100%;
                min-width: 428px;
                .button-text {
                    display: block;
                    width: 100%;
                    font-size: 1.4rem;
                    font-family: $f-medium;
                    margin-bottom: $spacing-40;
                }
            }
            .button-container_ {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        &.button-download {
            //min-width: 428px;
            min-height: 125px;
        }
        &.button-grey {
            background-color: $c-cta-grey;
            &:before {
                background-image: url(../img/button-verbindung-grey.svg);
            }
            &:after {
                background-color: $c-cta-grey;
            }
            &:hover {
                background-color: $c-primary;
                &:before {
                    background-image: url(../img/button-verbindung-bright.svg);
                }
                &:after {
                    background-color: $c-primary;
                }
            }
        }
        @media only screen and (max-width: $d-tablet-portrait) {
            padding: $spacing-10 $spacing-15;

            &.button-extended {
                .button-container {
                    .button-text {
                        font-size: 1.05rem;
                        line-height: 1.103rem;
                    }
                    .button-label {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    .icon {
                        position: relative;
                        top: 5px;
                    }
                }
            }
            .button-container {
                .button-text {
                    font-size: 1.05rem;
                    line-height: 1.103rem;
                }
                .button-label {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                .icon {
                    position: relative;
                    top: 5px;
                }
            }

        }
        @media only screen and (max-width: $d-mobile) {
            .button-container {
                min-width: 250px;
                .button-label {
                    font-size: 0.9rem;
                    line-height: 0.945rem;
                    top: 3px;
                }
            }



        }
    }
    
    .link-extern {
        position: relative;
        padding-right: 25px;
        line-height: 1rem;
        &:after {
            position: relative;
            margin-left: $spacing-15;
            content: '';
            height: 17.92px;
            width: 18.48px;
            display: inline-block;
            background-size: 100% auto;
            background-image: url(../img/icons/icon-arrow-top-right-black.svg);
        }
    }
   
    


    
.button-accordion {
    position: absolute;
    width: 46px;
    height: 46px;
    background: transparent;
    top: 50%;
    right: -4px;
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.6, 0.3, 1.1);
  }
  
  .button-accordion:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background: $c-primary;
  }
  
  .button-accordion:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 2px;
    background: $c-primary;
  }
  
  .button-accordion.clicked {
    transform: translate(-50%, -50%) rotate(360deg);
    background: transparent;
  }
  
  .button-accordion.clicked:before {
    width: 0;
  }