@font-face {
    font-family: 'FK Grotesk';
    src: url('../fonts/FKGrotesk-Regular.eot');
    src: url('../fonts/FKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FKGrotesk-Regular.woff2') format('woff2'), url('../fonts/FKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Medium';
    src: url('../fonts/FKGrotesk-Medium.eot');
    src: url('../fonts/FKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FKGrotesk-Medium.woff2') format('woff2'), url('../fonts/FKGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FK Grotesk Bold';
    src: url('../fonts/FKGrotesk-Bold.eot');
    src: url('../fonts/FKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FKGrotesk-Bold.woff2') format('woff2'), url('../fonts/FKGrotesk-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}